
{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

<h2>About me</h2>

<p>Brazilian</p>

<p>Best mario kart player all times by times magazine</p> 

<p>The naked gun movie trilogy</p>

<p>Kung fu + soccer</p>

<p>Co-foundor of the ultimate def jam fight for ny championship</p>

<h2>Contact & Social Links</h2>

<h3><a href="https://github.com/molinxo">Github</a></h3>
<h3><a href="https://linkedin.com/in/jean-molin-us/en">Linkedin</a></h3>

{% endblock %}
