
{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
<h2>Hello, i'm pocasombra mulek zika, Networking focused developer. <br> Welcome to my personal website</h2>

<div class="ascii-wrap" aria-label="ASCII art">
                      (
                     (  ) (
                      )    )
         |||||||     (  ( (
        ( O   O )        )
 ____oOO___(_)___OOo____(
(_______________________)
           JOINT
</div>

<nav>
  <h3>Tools i work with</h3>
  <i class="devicon-python-plain"></i>
  <i class="devicon-bash-plain"></i>
  <i class="devicon-vim-plain"></i>
  <i class="devicon-linux-plain"></i>
</nav>
{% endblock %}

